/arithmeticOperator.c
/arithmeticOperator.exe
/formatSpecifiers.c
/formatSpecifiers.exe
/madLibsGame.c
/madLibsGame.exe
/main.exe
/mathFunctions.c
/shoppingCartProgram.c
/shoppingCartProgram.exe
/userInput.c
/userInput.exe
/variables.c
/printtab.c
/printtab.exe
/putstr.exe
/putstr.c
